.layout-dashboard {
  margin-left: 280px;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background: #f6f5f5;
}

@media screen and (max-width: 768px) {
  .layout-dashboard {
    margin-left: 0;
  }
}
