<div
  class="fixed-top d-none d-md-flex flex-column flex-shrink-0 p-3 bg-white border-end"
  style="width: 280px; min-height: 100vh; height: fit-content"
>
  <div class="d-flex align-items-center gap-2 w-100">
    <img
      src="./assets/images/github-mark.svg"
      alt="Logo"
      width="40"
      height="40"
    />
    <div class="fw-bold" style="font-size: x-large">Gitify</div>
  </div>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        routerLink="/dashboard"
        routerLinkActive="active-dashboard text-white"
        class="nav-link text-black fw-bold"
      >
        <i class="fa-solid fa-house"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a
        routerLink="/repositories"
        routerLinkActive="active-dashboard text-white"
        class="nav-link text-black fw-bold"
      >
        <i class="fa-solid fa-folder"></i>
        Repositories
      </a>
    </li>
    <li>
      <a
        routerLink="/profile"
        routerLinkActive="active-dashboard text-white"
        class="nav-link text-black fw-bold"
      >
        <i class="fa-solid fa-user"></i>
        Profile
      </a>
    </li>
  </ul>
  <hr />
  <div>
    <p class="text-center" style="font-size: small">Gitify &copy; 2024</p>
  </div>
</div>
